Source: scibian-singularity-ssh
Section: net
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/scibian/scibian-singularity-ssh
Vcs-Git: https://github.com/scibian/scibian-singularity-ssh.git
Vcs-Browser: https://github.com/scibian/scibian-singularity-ssh

Package: scibian-singularity-ssh
Architecture: all
Depends: ${misc:Depends}
Description: SSH wrapper for singularity containers
 This package replaces /usr/bin/ssh with a wrapper script which, when
 called from a Singularity container, runs the remote command into the
 same container.
